body {
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit", sans-serif;
    color: hsl(215, 51%, 70%);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: hsl(178, 100%, 50%) !important;
    text-decoration: none;
}
.card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px !important;
    max-width: 350px;
    /* filter: drop-shadow(16px 16px 10px black); giga shadow */
}

.bigbox {
    opacity: 0;
    transition: 400ms;
}

.cyanbox {
    width: 300px;
    height: 300px;
    background-color: hsl(178, 100%, 50%);
    position: absolute;
    opacity: 0.3;
    border-radius: 10px !important;
}

.card img {
    border-radius: 10px !important;
    opacity: 1;
}

.viewIcon {
    position: absolute;
    top: 150px;
    left: 150px;
}

.bigbox:hover {
    opacity: 1;
}

h5 {
    font-weight: 600;
}

#ETH {
    font-weight: 600;
    color: hsl(178, 100%, 50%);
}

#details {
    border-bottom: 1px solid hsl(215, 51%, 70%);
}

#avatar {
    max-width: 35px;
    max-height: 35px;
    border: 1px solid white;
    border-radius: 50% !important;
}
